.git
.gitignore
.env
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache
tests/
.editorconfig
.styleci.yml
phpunit.xml
README.md
CHANGELOG.md
.DS_Store
Thumbs.db
*.log
